MONGO_URI=mongodb://admin:admin123@ac-exoafeo-shard-00-02.dmubves.mongodb.net:27017/trangtruyenchu?ssl=true&authSource=admin
MAIL_USER=anhgoodboy100@gmail.com
MAIL_APP_PASSWORD=your_16_char_gmail_app_password
SESSION_IDLE_MINUTES=30
SESSION_MAX_HOURS=12
